@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  border: 1px solid #ff000070;
}
body{
    background-color: #ecebe9;
    box-sizing: border-box;
}

/* ///////////////////////////////////////////
////////////////  ITEM 1   /////////////////
/////////////////////////////////////////// */

.item-1{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-item{
  width: 200px;
  box-shadow: 0px 0px 25px #771006;
  background-color: #f7f7f7;
  border-radius: 10px;
  overflow: hidden;
}
.ci-promocao{
  position: absolute;
  color: #ff0000;
  background-color: #f7da5b;
  padding: 2px 10px;
  transform: translateY(10px);
}
.ci-img{
  object-fit: cover;
}
.ci-img img{
  width: 200px;
  aspect-ratio: 4 / 3;
}
.ci-info{
  padding: 10px;
}
.cii-parag{
  font-size: 14px;
}
.cii-precos{
  display: flex;
  align-items:end;
}
.ciip-atual{
  font-size: 22px;
  color: #d4685e;
}
.ciip-anterior{
  font-size: 12px;
  color: #771006;
  text-decoration:line-through;
  translate: 5px -3px;
}

/* ///////////////////////////////////////////
////////////////  ITEM 2   /////////////////
/////////////////////////////////////////// */

.item-2,.item-3{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-2{
  background-color: #e2fffd;
}
.i2-container{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(45deg, #fff, #ff0, #f00);
  background-size: 300% 300%;
  animation: colors 5s ease infinite;
}
@keyframes colors {
  0%{
    background-position: 50% 0%;
  }
  100%{
    background-position: 100% 100%;
  }
}
.item-3{
  background-color: #eec1bd;
}
.sectionPromo{
  position: relative;
  display: flex;
  background: yellow;
  color: red;
  width: min-content;
}
.triangulos{
  position: absolute;
  right: -13%;
}
.triangulo{
  background-color: #771006;
  width: 150px; 
  height: 150px; 
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
  border-left: 22px solid rgb(153, 147, 235);
}