*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid #ff00002c;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
    position: relative;
}
header .icon{
    height: 60px;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 20px;

}
nav a{
    text-decoration: none;
}