@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: #000;
    border: 1px solid #eb5c5c54;
    font-family: 'Poppins', sans-serif;
}
.header-top{
    min-height: 40px;
    max-height: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 15px;
    background-color: #48855c;
    padding: 5px;
}
.header-top li{
    text-align: center;
}
.header-top a:hover{
    border: 1px solid #d34040;
    color: #d34040;
    background-color: #f1bee0;
    transition: 0.4s;
}
.header-top li a{
    border-radius: 35px;
    padding: 2px 25px;
    border: 1px solid #f88f8f;
    background-color: #faf3f3;
    color: #f88f8f;
    transition: 0.4s;

}