@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --header-color: #a3c5e4;
    --footer-color: #9fb3c5;
    --main-color: #7c85bd;
}
html{
    scroll-behavior: smooth;
}
/* classes reutilizáveis */
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* unitárias */
nav{
    padding: 10px 0;
    position: sticky;
    top: 0;
    background-color: aliceblue;
    box-shadow: 0 5px 10px 0 #0e2a44;
}
nav ul{
    list-style: none;
    gap: 2em;
}
a{
    text-decoration: none;
    color: #0e2a44;
    border-bottom: 2px solid transparent;
    transition: .4s;
}
a:hover{
    border-bottom: 2px solid #126363;
    transition: .4s;

}
.atual{
    color: #126363;
    border-bottom: 2px solid #0a559b;
}
section:not([id=depoimentos]){
    height: 90vh;
    padding: 0 clamp(2rem, 10rem, 15em);
}

section img{
    width: 25vw;
}
/* each section */
#descricao{
    background-image: url(./img/vitamenu-pic1.jpg);
    background-attachment: fixed;
    display: grid;

}
#descricao *{
    color: aliceblue;
}

.depoimento-grid{
    display: grid;
    gap: 1.25rem;

    width: min(95%, 70em);
    margin-inline: auto;
}
@media (min-width:60em){
    .grid-col-span-2{
        grid-column: span 2;
    }
    .depoimento-grid{
        grid-template-columns: repeat(4, 1fr);

    }
    .card-dep:last-child{
        grid-column-start: 4;
        grid-row: 1 / span 2;
    }
}


.card-dep{
    background-color: #0a559b;
    padding: 20px;
    border-radius: 10px;
}
.card-dep img:not([alt~="cinco_estrelas"]){
    width: 3.5rem;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;

}
.card-top{
    display: flex;
    gap: 20px;
    align-items: center;
}
.card-name{
    font-size: 1.25rem;
}
.card-stars img{
    width: 150px;
    overflow-x: hidden;
}
/* bases */
header{
    background-color: var(--header-color);
    height: 100px;
    z-index: 2;
    position: relative;
}
main{
    background-color: var(--main-color);
    padding: clamp(10px, 3em, 20vw) 0;
}
footer{
    background-color: var(--footer-color);
    height: 10rem;
}