*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    /* border: 1px red solid; */
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
  background-color: #050114;
}
main,
footer,
article{
    display: flex;
    justify-content: center;
    background-position: top center;
    background-size: 100vw;
}
article > div{
    width: min(95%,70em);
    padding: 5rem 0 10rem;
    display: flex;
    flex-direction: column;
    
}
#tips{
  background-image: url(../img/bgflorest2.jpg);
}
article{
  background-position: top center;
  background-size: 100vw;
  width: 100vw;

}
#recom{
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  gap: 10px;
}

.card img{
  width: 300px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  display: block;
}
.card{
  width: min-content;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--bg-card);
  color: var(--font-color);
  --bg-card: #97c3e0;
  --font-color: #000;
}
.card:nth-child(2){
  --bg-card: #6465b4;
  --font-color: #fff
}
.card p{
  padding: 20px;
}
h1{
  text-align: center;
  font-size: 3rem;
}
h1,h2{
  padding: 1rem;
}
h2{
  background-color: #67b3fa62;
}
h3{
  text-align: center;
  font-style: italic;
}

#warning{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 2fr;
  grid-row-gap: 50px;
  margin-top: 2rem;
}
.cardw{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.cardw p{
  font-size: 1.2rem;
  width: 15rem;
  text-align: center;
  color: #fff;

}
@media (max-width: 800px) {
  #warning,
  #recom{
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  #recom{
    align-items: center;
  }
}
footer{
  background-image: url(../img/skynight.png);

}
#footer-content{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  color: #fff;
}
.cardw img{
  width: 10rem;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}