@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    /* border: 1px solid #00a2ff63; */
}
body{
    background-color: #ceced4;
}
/* ///////////////////////////////////////////
////////////////   Header   /////////////////
/////////////////////////////////////////// */
header{
    width: 100%;
    height: 80vh;
}
.header-first-half{
    background-image: linear-gradient(180deg, #1e004198, #74460081, #ffae3500);
    border: none;
    height: 13vh;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
}
.header-left, .header-right{
    display: flex;
    gap: 20px;
}
.header-left{
    align-items: center;
}
.header-right{
    align-items: center;
    justify-content: end;
}
.hpi{
    color: #fff;
    text-decoration: none;
    padding: 3px 12px;
    border-radius: 20px;
    border: 1px solid #fff;
    transition: 0.4s;
    cursor: pointer;
}
.hpi:hover{
    border-radius: 25px;
    background-color: #fff;
    color: #a30101;
    transition: 0.4s;
}
.img-header-icon{
    width: 55px;
    height: 55px;
}
.mais-menu{
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 13vh;
    background-image:linear-gradient(180deg, #d45151da, #566dd460);
    backdrop-filter: blur(5.5px);
    border-radius: 0px 15px 15px 0px;
    padding: 25px 50px 25px 10px;
    box-sizing: border-box;
    overflow: hidden;
    width: 80px;
    height: 350px;
    transition: 0.5s;
}
.mais-menu:hover{
    width:300px;
    transition: 0.2s;
    
}
.menu-item{
    display: flex;
    align-items: center;
    height:60px;
    gap: 0px 25px;
    padding: 5px;
    border-radius: 5px 15px 15px 5px;
    transition: 0.2s;
}
.menu-item-icon{
    height: 45px;
    transition: 0.4s;
}
.item-link{
    color: #180107b4;
    font-size: 20px;
    text-decoration: none;
    min-width: 150px;
    padding: 2px 5px;
    border-radius: 5px;
    transition: 0.2s;
}
.menu-item:hover{
    background-color: #d4c9b4a1;
    transition: 0.5s;
    cursor: pointer;
}
.menu-item:hover .item-link{
    color: #50054c;
    text-decoration:underline;
    transition: 0.5s;
}
.menu-item:hover .menu-item-icon{
    height: 50px;
    transform: rotate(10deg);
    transition: 0.3s;
}
.hsf{
    background-image: linear-gradient(90deg, #e08823, #e45151);
    color: #ffffff;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.hsf span{
    text-align: center;
    width: 350px;
    cursor:default;

}
main{
    height: 200vh;
    width: 100%;
    background-color: #c0c0d4;
    display: flex;
    flex-wrap: wrap;
}

/* ///////////////////////////////////////////
////////////////Cards da Loja/////////////////
/////////////////////////////////////////// */

#cards{
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  padding: 20px;
}
.card-item{
    min-width: min-content;
    width: 200px;
    height: 320px;
    box-shadow: inset 0px 0px 90px #c7caf1, 0px 0px 10px #683347;
    overflow: hidden;
    background-color: #f7f7f7;
    border-radius: 10px;
    cursor: default;
    padding: 0 0 10px 0;
  }
  .ci-promocao{
    position: absolute;
    color: #ff0000;
    clip-path: polygon(0% 0%, 100% 0%, 85% 50%, 100% 100%, 0% 100%);
    padding: 2px 25px 2px 10px;
    transform: translateY(10px);
    background-image: linear-gradient(90deg, #ffee00, #ffc964,#ffee00, #ffc964);
    background-size: 300% 300%;
    animation: promocao-animation 2.5s linear infinite;
  }
  @keyframes promocao-animation{
    0%{
        background-position: 0% 0%;
    }
    100%{
        background-position: 100% 100%;
    }
  }
  .ci-img img{
    object-fit: cover;
    width: 100%;
    aspect-ratio: 4 / 3;
  }
  .ci-info{
    height:165px;
    padding: 0 10px 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
  }
  .cii-title{
    font-size: 20px;
  }
  .ciit-tipo, .cii-parag{
    font-size: 12.5px;
  }

  .cii-precos{
    display: flex;
    align-items:flex-end;
  }
  .ciip-atual{
    font-size: 22px;
    color: #d4685e;
  }
  .ciip-anterior{
    font-size: 12px;
    color: #771006;
    text-decoration:line-through;
    margin: 0 0 3px 3px;
  }
  .card-mais{
    display: flex;
    justify-content: center;
    background: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #c98a2c;
    color: #cde4e7;
    transition: 0.3s;
  }
  .cm-seta{
    transform: rotate(90deg);
    margin-left: 5px;
  }
  .card-mais:hover{
    transition: 0.5s;
    color: #f2f2f8;
    background-color: #449167;
  }
  .card-mais:focus{
    background-color: #66b88b;
    color: #f2f2f8;
    transition: 0.2s;
  }

  /* ///////////////////////////////////////////
////////////////    A Side    /////////////////
/////////////////////////////////////////// */
aside{
  background-color: RED;
}