@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    /* border: 1px solid #ff000063; */
    color: #fff;
    font-size: 22px;
}
header{
    width: 100vw;
    height: 80vh;

}
.header-first-half{
    background-image: linear-gradient(180deg, #1e004198, #74460081, #ffae3500);
    border: none;
    height: 13vh;
    width: 100vw;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-left, .header-right{
    display: flex;
    gap: 15px;
    padding: 0px 25px;
}
.header-left{
    align-items: center;
}
.header-mais{
    padding: 1px 13px;
}
.header-mais span{
    display: flex;
}
.header-right{
    display: flex;
    align-items: center;
    justify-content: end;
}
.seta{
    transform: rotate(90deg);
    translate: 4px 1px;
    transition: 0.4s;
}
.mais{
    transition: 0.4s;
}
.mais:hover{
    color: #a30101;
    transition: 0.4s;
    cursor: pointer;
}
.mais:hover .seta{
    color: #a30101;
    transform: rotate(45deg);
}
.hpi{
    text-decoration: none;
    border-radius: 20px;
    border: 1.5px solid #fff;
    transition: 0.4s;
    cursor: pointer;
}

.hpi:hover{
    border-radius: 25px;
    background-color: #fff;
    color: #a30101;
    transition: 0.4s;
}
.regist, .entrar{
    padding: 3px 12px;
    border-radius: 17px;
}
.img-header-icon{
    width: 30px;
    height: 30px;
}



.hsf{
    background-image: linear-gradient(90deg, #e08823, #e45151);
    color: #ffffff;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hsf span{
    transform: translateY(10vh);
    text-align: center;
    width: 350px;

}