
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .column{
    flex-direction: column;
  }
  .center{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body{
    Height: 100vh;
    width:100%;
    background-color:#96a5ce;
    gap: 1em;
  }
  .q{
    background-coLor:#1883CD;
    width:300px;
    height:200px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1.5s;
    gap: 10px;
    position: relative;
  }
  .q input{
  width:100px;
  height:25px;
  margin-bottom:20px;
  color:#000;
  }
  .q *{
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .aviso{
    text-align: center;
    position: absolute;
    bottom: -50px;
    width: 100%;
  }